{% extends 'nav_bar.html' %}
{% block title %}New Manufacturer{% endblock title %}
{% block main %}
    <div class="container text-center">
        <h1>Edit Manufacturer</h1>
    <form action="/manufacturers/{{to_edit.id}}//update" method="post">
        <div class="mb-3">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{to_edit.name}}">
        </div>
        <div class="mb-3">
            <label for="street">Street</label>
            <input type="text" name="street" id="street" value="{{to_edit.address.street}}">
        </div>
        <div class="mb-3">
            <label for="city">City</label>
            <input type="text" name="city" id="city" value="{{to_edit.address.city}}">
        </div>
        <div class="mb-3">
            <label for="state">State</label>
            <select name="state" id="state">
                <option value="">-- select -- </option>
                {% for state_code in state_codes %}
                <option {% if to_edit.address.state == state_code %}selected{% endif %} value="{{state_code}}">{{state_code}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="zip">Zip</label>
            <input type="text" name="zip" id="zip" value="{{to_edit.address.zip}}">
        </div>
        <input type="hidden" name="address_id" value="{{to_edit.address_id}}">
        <button class="btn btn-primary mb-3">Update</button>
        <a href="/manufacturers" class="btn btn-danger mb-3">Cancel</a>
        {% for message in get_flashed_messages() %}
            <p class="text-danger">{{message}}</p>
        {% endfor %}
    </form>
    </div>
{% endblock main %}