{% extends 'nav_bar.html' %}
{% block title %}View Purchase Order{% endblock title %}
{% block main %}
    <div class="container text-center">
        <h1>Viewing Purchase Order Number {{one_order.id}}</h1>
        <h3>Customer: {{one_order.manufacturer.name}}</h3>
        <h3>Status: {{statuses[one_order.status]}}</h3>
        {% if one_order.items|length == 0 %}
            <h3>No Lines on Purchase Order</h3>
        {% else%}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Ordered</th>
                    <th>Received</th>
                    <th>Balance</th>
                    <th>On Hand</th>
                </tr>
            </thead>
            <tbody>
                {% for item in one_order.items %}
                    <tr>
                        <td>{{item.stock_item}}</td>
                        <td>{{item.ordered_quantity}}</td>
                        <td>{{item.received_quantity}}</td>
                        <td>
                            {{item.ordered_quantity - item.received_quantity}}
                            {% if item.ordered_quantity - item.received_quantity < 0 %}
                                <span class="text-danger">OVER RECEIVED</span>
                            {% endif %}</td>
                        <td>{{item.on_hand}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <h3>Status updated: {{one_order.updated_at.strftime('%B %d, %Y at %I:%M%p')}}</h3>
    </div>
{% endblock main %}