{% extends 'nav_bar.html' %}
{% block title %}Purchase Dashboard{% endblock title %}
{% block main %}
    <div class="container">
        <div class="d-flex justify-content-left gap-3">
            <a href="/purchasing/new" class="btn btn-info">New Purchase Order</a>
            <a href="/manufacturers" class="btn btn-info">Manage Manufacturers</a>
        </div>
        {% for message in get_flashed_messages(category_filter=['edit_err']) %}
            <p class="text-danger">{{message}}</p>
        {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>PO</th>
                <th>Manufacturer</th>
                <th>Status</th>
                <th>Lines</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for ea_order in all_orders %}
                <tr>
                    <td>{{ea_order.id}}</td>
                    <td>{{ea_order.manufacturer.name}}</td>
                    <td>{{statuses[ea_order.status]}}</td>
                    <td>{{ea_order.item_count}}</td>
                    <td>
                        <a href="/purchasing/{{ea_order.id}}/view" class="btn btn-info">View</a> 
                        {% if ea_order.status == 0 %}
                        <a href="/purchasing/{{ea_order.id}}/edit" class="btn btn-primary">Edit</a>    
                        <a href="/purchasing/{{ea_order.id}}/finalize" class="btn btn-danger" onclick="finalizeHandlerPO(event)">Finalize</a> 
                        {% endif %}
                        {% if ea_order.status == 1 or ea_order.status == 0%}
                            <a href="/purchasing/{{ea_order.id}}/cancel" class="btn btn-danger" onclick="cancelHandlerPO(event)">Cancel</a> 
                        {% endif %}
                    {% if ea_order.status == 1 %}
                        <a href="/purchasing/{{ea_order.id}}/ship" class="btn btn-primary">Ship</a> 
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='remove_script.js') }}"></script>
{% endblock main %}