{% extends 'nav_bar.html' %}
{% block title %}Editing Order{% endblock title %}
{% block main %}
    <div class="container text-center">
        <h1>Editing Order {{to_edit.id}} for {{to_edit.customer.name}}</h1>
        <form action="/sales/{{to_edit.id}}/add_item" method="post">
            <label for="stock_item_id">Item ID:</label>
            <input list="items" name="stock_item_id" placeholder="search for items...">
            <datalist id="items">
                <option value="">-- select --</option>
                {% for one_item in all_items %}
                    <option value="{{one_item.id}}">{{one_item.name}} by {{one_item.manufacturer.name}}</option>
                {% endfor %}
            </datalist>
            <label for="quantity">QTY</label>
            <input type="number" name="quantity" id="quantity">
            <button class="btn btn-info rounded">+</button>
            {% for message in get_flashed_messages() %}
                <p class="text-danger">{{message}}</p>
            {% endfor %}
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Currently Ordered</th>
                    <th>Update QTY</th>
                    <th>Remove From Order</th>
                </tr>
            </thead>
            <tbody>
                {% for item in to_edit.items %}
                <tr>
                    <td>{{item.stock_item}}</td>
                    <td>{{item.ordered_quantity}}</td>
                    <td>tbd</td>
                    <td>tbd</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock main %}